Per entrar a una sessi√≥ de Spark i iniciar un builder en DeltaLake

In [21]:
from pyspark.sql import SparkSession
import duckdb
from outliers_data_Q import *

spark = SparkSession.builder \
        .config("spark.jars", "./duckdb.jar") \
        .appName("FormattedZone") \
        .getOrCreate()

# Cargar la tabla desde DuckDB
income = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:duckdb:formatted_zone.duckdb") \
    .option("dbtable", "income_data") \
    .option("driver", "org.duckdb.DuckDBDriver") \
    .load()


# Ver los primeros registros para confirmar carga correcta
income.show()

+-----+-------+-----------------+---------------------------+-----------+-----------------------------------+-------------------+----------------+-------------------------------------+---------------------+------------------+
|STATE|ZIPCODE|Number of returns|Adjusted gross income (AGI)|    Avg AGI|Number of returns with total income|Total income amount|Avg total income|Number of returns with taxable income|Taxable income amount|Avg taxable income|
+-----+-------+-----------------+---------------------------+-----------+-----------------------------------+-------------------+----------------+-------------------------------------+---------------------+------------------+
|   AL|  35004|             4930|                     255534|51.83245436|                               4930|             258024|     52.33752535|                                 4020|               163859|       40.76094527|
|   AL|  35005|             3300|                     128387|38.90515152|                               3300|             129390|     39.20909091|                                 2440|                70760|              29.0|
|   AL|  35006|             1230|                      58302|       47.4|                               1230|              58585|      47.6300813|                                  940|                36341|        38.6606383|
|   AL|  35007|            11990|                     643708|53.68707256|                              11990|             651350|     54.32443703|                                 9280|               414878|       44.70668103|
|   AL|  35010|             8320|                     378497|45.49242788|                               8320|             382106|     45.92620192|                                 5610|               226514|       40.37682709|
|   AL|  35014|             1610|                      67205|41.74223602|                               1610|              67885|     42.16459627|                                 1180|                38277|       32.43813559|
|   AL|  35016|             7030|                     329461|46.86500711|                               7030|             333226|     47.40056899|                                 5080|               204874|       40.32952756|
|   AL|  35019|              930|                      34909|37.53655914|                                930|              35392|     38.05591398|                                  650|                19152|       29.46461538|
|   AL|  35020|             9970|                     260241|26.10240722|                               9970|             262475|     26.32647944|                                 5520|               110968|       20.10289855|
|   AL|  35022|             9490|                     516329|54.40769231|                               9490|             521539|     54.95669125|                                 7400|               327603|       44.27067568|
|   AL|  35023|            10230|                     476432|46.57204301|                              10230|             480458|      46.9655914|                                 7960|               291768|       36.65427136|
|   AL|  35031|             2970|                     110967|37.36262626|                               2970|             112152|     37.76161616|                                 2000|                59275|           29.6375|
|   AL|  35033|             1340|                      66702|49.77761194|                               1340|              67437|      50.3261194|                                 1010|                41766|       41.35247525|
|   AL|  35034|             1440|                      51658|35.87361111|                               1440|              52030|     36.13194444|                                  950|                27832|       29.29684211|
|   AL|  35035|              550|                      30894|56.17090909|                                550|              31542|     57.34909091|                                  390|                20707|       53.09487179|
|   AL|  35040|             7130|                     355685|49.88569425|                               7130|             359868|     50.47237027|                                 5720|               221987|       38.80891608|
|   AL|  35042|             2220|                      95692| 43.1045045|                               2220|              96503|     43.46981982|                                 1590|                56177|       35.33144654|
|   AL|  35043|             4550|                     359323|78.97208791|                               4550|             363943|     79.98747253|                                 3790|               253356|       66.84854881|
|   AL|  35044|             3160|                     123233|38.99778481|                               3160|             124406|     39.36898734|                                 2160|                70753|       32.75601852|
|   AL|  35045|             5650|                     234349|41.47769912|                               5650|             236772|     41.90654867|                                 3870|               134635|       34.78940568|
+-----+-------+-----------------+---------------------------+-----------+-----------------------------------+-------------------+----------------+-------------------------------------+---------------------+------------------+
only showing top 20 rows

In [22]:
income = income.withColumnRenamed('Adjusted gross income (AGI)', 'Adjusted gross income')
income.show()

+-----+-------+-----------------+---------------------+-----------+-----------------------------------+-------------------+----------------+-------------------------------------+---------------------+------------------+
|STATE|ZIPCODE|Number of returns|Adjusted gross income|    Avg AGI|Number of returns with total income|Total income amount|Avg total income|Number of returns with taxable income|Taxable income amount|Avg taxable income|
+-----+-------+-----------------+---------------------+-----------+-----------------------------------+-------------------+----------------+-------------------------------------+---------------------+------------------+
|   AL|  35004|             4930|               255534|51.83245436|                               4930|             258024|     52.33752535|                                 4020|               163859|       40.76094527|
|   AL|  35005|             3300|               128387|38.90515152|                               3300|             129390|     39.20909091|                                 2440|                70760|              29.0|
|   AL|  35006|             1230|                58302|       47.4|                               1230|              58585|      47.6300813|                                  940|                36341|        38.6606383|
|   AL|  35007|            11990|               643708|53.68707256|                              11990|             651350|     54.32443703|                                 9280|               414878|       44.70668103|
|   AL|  35010|             8320|               378497|45.49242788|                               8320|             382106|     45.92620192|                                 5610|               226514|       40.37682709|
|   AL|  35014|             1610|                67205|41.74223602|                               1610|              67885|     42.16459627|                                 1180|                38277|       32.43813559|
|   AL|  35016|             7030|               329461|46.86500711|                               7030|             333226|     47.40056899|                                 5080|               204874|       40.32952756|
|   AL|  35019|              930|                34909|37.53655914|                                930|              35392|     38.05591398|                                  650|                19152|       29.46461538|
|   AL|  35020|             9970|               260241|26.10240722|                               9970|             262475|     26.32647944|                                 5520|               110968|       20.10289855|
|   AL|  35022|             9490|               516329|54.40769231|                               9490|             521539|     54.95669125|                                 7400|               327603|       44.27067568|
|   AL|  35023|            10230|               476432|46.57204301|                              10230|             480458|      46.9655914|                                 7960|               291768|       36.65427136|
|   AL|  35031|             2970|               110967|37.36262626|                               2970|             112152|     37.76161616|                                 2000|                59275|           29.6375|
|   AL|  35033|             1340|                66702|49.77761194|                               1340|              67437|      50.3261194|                                 1010|                41766|       41.35247525|
|   AL|  35034|             1440|                51658|35.87361111|                               1440|              52030|     36.13194444|                                  950|                27832|       29.29684211|
|   AL|  35035|              550|                30894|56.17090909|                                550|              31542|     57.34909091|                                  390|                20707|       53.09487179|
|   AL|  35040|             7130|               355685|49.88569425|                               7130|             359868|     50.47237027|                                 5720|               221987|       38.80891608|
|   AL|  35042|             2220|                95692| 43.1045045|                               2220|              96503|     43.46981982|                                 1590|                56177|       35.33144654|
|   AL|  35043|             4550|               359323|78.97208791|                               4550|             363943|     79.98747253|                                 3790|               253356|       66.84854881|
|   AL|  35044|             3160|               123233|38.99778481|                               3160|             124406|     39.36898734|                                 2160|                70753|       32.75601852|
|   AL|  35045|             5650|               234349|41.47769912|                               5650|             236772|     41.90654867|                                 3870|               134635|       34.78940568|
+-----+-------+-----------------+---------------------+-----------+-----------------------------------+-------------------+----------------+-------------------------------------+---------------------+------------------+
only showing top 20 rows

In [ ]:
# guardem taula
income.write \
    .format("jdbc") \
    .option("url", "jdbc:duckdb:trusted_zone.duckdb") \
    .option("dbtable", "cleaned_income") \
    .option("driver", "org.duckdb.DuckDBDriver") \
    .mode("overwrite") \
    .save()

In [24]:
income.printSchema()

root
 |-- STATE: string (nullable = true)
 |-- ZIPCODE: decimal(20,0) (nullable = true)
 |-- Number of returns: decimal(20,0) (nullable = true)
 |-- Adjusted gross income: decimal(20,0) (nullable = true)
 |-- Avg AGI: double (nullable = true)
 |-- Number of returns with total income: decimal(20,0) (nullable = true)
 |-- Total income amount: decimal(20,0) (nullable = true)
 |-- Avg total income: double (nullable = true)
 |-- Number of returns with taxable income: decimal(20,0) (nullable = true)
 |-- Taxable income amount: decimal(20,0) (nullable = true)
 |-- Avg taxable income: double (nullable = true)

In [ ]:
categorical_columns = ["STATE"] #variable categorica
numerical_columns = ["ZIPCODE", "Number of returns", "Adjusted gross income", "Avg AGI",
                     "Number of returns with total income", "Total income amount",
                     "Avg total income", "Number of returns with taxable income",
                     "Taxable income amount", "Avg taxable income"]

In [ ]:
plots_cate(income, categorical_columns)

In [ ]:
plots_num(income, numerical_columns)

In [4]:
invalid_chars = [' ', ';', '{', '}', '(', ')', '\n', '\t', '=']

# Funci√≥n para limpiar los nombres de las columnas reemplazando los caracteres no v√°lidos
def clean_column_name(column_name):
    for invalid_char in invalid_chars:
        column_name = column_name.replace(invalid_char, "_")  # Reemplaza por subrayado o cualquier otro caracter v√°lido que prefieras
    return column_name

# Aplicar la funci√≥n de limpieza a cada columna
cleaned_income = income.select([col(c).alias(clean_column_name(c)) for c in income.columns])


#Guardar l'arxiu
income.write.mode("overwrite").format("delta").save("./deltalake/income_data/")

In [ ]:
# finalitzar sessi√≥ de Spark
spark.stop()