In [37]:
import pandas as pd


import pandas as pd  
import numpy as np

import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

## Income data

In [38]:
incomeing = pd.read_csv('./datalake/income_data/2024-03-22_IRSIncomeByZipCode_NoStateTotalsNoSmallZips.csv')

In [39]:
incomeing.head()

,STATE,ZIPCODE,Number of returns,Adjusted gross income (AGI),Avg AGI,Number of returns with total income,Total income amount,Avg total income,Number of returns with taxable income,Taxable income amount,Avg taxable income
0,AL,35004,4930,255534,51.832454,4930,258024,52.337525,4020,163859,40.760945
1,AL,35005,3300,128387,38.905152,3300,129390,39.209091,2440,70760,29.000000
2,AL,35006,1230,58302,47.400000,1230,58585,47.630081,940,36341,38.660638
3,AL,35007,11990,643708,53.687073,11990,651350,54.324437,9280,414878,44.706681
4,AL,35010,8320,378497,45.492428,8320,382106,45.926202,5610,226514,40.376827

In [61]:
incomeing["STATE"].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [62]:
abreviaciones_estados = [
    "AL", "AK", "AZ", "AR", "CA", 
    "CO", "CT", "DE", "FL", "GA", 
    "HI", "ID", "IL", "IN", "IA", 
    "KS", "KY", "LA", "ME", "MD", 
    "MA", "MI", "MN", "MS", "MO", 
    "MT", "NE", "NV", "NH", "NJ", 
    "NM", "NY", "NC", "ND", "OH", 
    "OK", "OR", "PA", "RI", "SC", 
    "SD", "TN", "TX", "UT", "VT", 
    "VA", "WA", "WV", "WI", "WY"
]

In [65]:
def diferencia_listas(lista1, lista2):
    return [elemento for elemento in lista1 if elemento not in lista2]

# Ejemplo de uso
lista_a = [1, 2, 3, 4, 5]
lista_b = [4, 5, 6, 7, 8]

resultado = diferencia_listas(incomeing["STATE"].unique(),abreviaciones_estados)
print("Diferencia de lista_a y lista_b:", resultado)

Diferencia de lista_a y lista_b: ['DC']

In [64]:
len(incomeing["STATE"].unique())

51

## Sales data

In [20]:
sales = pd.read_csv('./datalake/sales_data/2024-03-19_SuperstoreSalesTraining.csv', encoding='latin1')


sales.head()

,Row,Order,Unit Price,Order Quantity,Sales,Profit,Shipping Cost,Customer_ID,Postal Code
count,16798.000000,16798.000000,16798.000000,16798.000000,16798.000000,16798.000000,16798.000000,16798.000000,9813.000000
mean,8399.500000,59334.677223,89.330158,26.219848,1790.069173,882.146176,12.857007,1754.262829,52312.177316
std,4849.309246,31827.183249,290.342578,27.184655,4645.265920,2355.552037,17.253488,978.716372,29561.428445
min,1.000000,3.000000,1.000000,1.000000,0.900000,-4301.080000,0.000000,1.000000,1001.000000
25%,4200.250000,29857.750000,6.000000,8.000000,90.107500,28.520000,3.000000,912.000000,28352.000000
50%,8399.500000,72895.500000,21.000000,16.000000,336.000000,133.645000,6.000000,1778.000000,53081.000000
75%,12598.750000,88699.000000,86.000000,38.000000,1391.160000,655.660000,14.000000,2593.000000,77530.000000
max,16798.000000,91591.000000,6783.000000,288.000000,99130.120000,60250.640000,165.000000,3403.000000,99362.000000

In [11]:
sales.info()

NameError: name 'sales' is not defined

## Shops data

In [42]:
import json

with open('./datalake/shops_data/2024-03-22_shops_data.json') as f:
    data = json.load(f)

ValueError: All arrays must be of the same length

In [58]:
data['fields']

[{'name': 'objectid',
  'type': 'esriFieldTypeOID',
  'alias': 'objectid',
  'sqlType': 'sqlTypeOther',
  'domain': None,
  'defaultValue': None},
 {'name': 'osm_id2',
  'type': 'esriFieldTypeString',
  'alias': 'osm_id2',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'abandoned',
  'type': 'esriFieldTypeString',
  'alias': 'abandoned',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_housename',
  'type': 'esriFieldTypeString',
  'alias': 'addr_housename',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_housenumber',
  'type': 'esriFieldTypeString',
  'alias': 'addr_housenumber',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_street',
  'type': 'esriFieldTypeString',
  'alias': 'addr_street',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_city',
  'type': 'esriFieldTypeString',
  'alias': 'addr_city',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_state',
  'type': 'esriFieldTypeString',
  'alias': 'addr_state',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_postcode',
  'type': 'esriFieldTypeString',
  'alias': 'addr_postcode',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_province',
  'type': 'esriFieldTypeString',
  'alias': 'addr_province',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_country',
  'type': 'esriFieldTypeString',
  'alias': 'addr_country',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_district',
  'type': 'esriFieldTypeString',
  'alias': 'addr_district',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_subdistrict',
  'type': 'esriFieldTypeString',
  'alias': 'addr_subdistrict',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'addr_unit',
  'type': 'esriFieldTypeString',
  'alias': 'addr_unit',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'amenity',
  'type': 'esriFieldTypeString',
  'alias': 'amenity',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'brand',
  'type': 'esriFieldTypeString',
  'alias': 'brand',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'building',
  'type': 'esriFieldTypeString',
  'alias': 'building',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'name',
  'type': 'esriFieldTypeString',
  'alias': 'name',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'operator',
  'type': 'esriFieldTypeString',
  'alias': 'operator',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None},
 {'name': 'shop',
  'type': 'esriFieldTypeString',
  'alias': 'shop',
  'sqlType': 'sqlTypeOther',
  'length': 255,
  'domain': None,
  'defaultValue': None}]

In [76]:
attributes = pd.DataFrame(data['features']['attributes'])
geometry = pd.DataFrame(data['features']['geometry'])

TypeError: list indices must be integers or slices, not str

In [81]:
a = data['features']

In [67]:
df

,attributes,geometry
0,"{'objectid': 85, 'osm_id2': '6448753092', 'aba...","{'x': -17774397.4774402, 'y': 2506253.3864803435}"
1,"{'objectid': 95, 'osm_id2': '6241439285', 'aba...","{'x': -17774176.6752, 'y': 2506160.271499999}"
2,"{'objectid': 98, 'osm_id2': '4643342514', 'aba...","{'x': -17774121.2047, 'y': 2506174.398400001}"
3,"{'objectid': 105, 'osm_id2': '5857253155', 'ab...","{'x': -17774882.9195, 'y': 2506481.507199999}"
4,"{'objectid': 107, 'osm_id2': '5541678538', 'ab...","{'x': -17774423.815631725, 'y': 2506268.521614..."
...,...,...
1995,"{'objectid': 37727, 'osm_id2': '3218142379', '...","{'x': -11719036.2628, 'y': 2355205.7261000015}"
1996,"{'objectid': 37728, 'osm_id2': '3218142341', '...","{'x': -11719019.5203, 'y': 2355267.0445999987}"
1997,"{'objectid': 37730, 'osm_id2': '3218142323', '...","{'x': -11718939.2478, 'y': 2355033.6711999997}"
1998,"{'objectid': 37731, 'osm_id2': '3218142215', '...","{'x': -11718928.694699999, 'y': 2355029.863400..."
1999,"{'objectid': 37732, 'osm_id2': '3219535827', '...","{'x': -11718924.832, 'y': 2355106.4483000003}"

In [71]:
import json
import csv
campos_deseados = [
    'addr_city', 'addr_conscriptionnumber', 'addr_country', 'addr_housenumber',
    'addr_postcode', 'addr_province', 'addr_state', 'addr_street', 'addr_suburb',
    'addr_unit', 'amenity', 'brand', 'building', 'description', 'level', 'name',
    'name_en', 'name_es', 'name_fr', 'opening_hours', 'operator', 'phone', 'shop',
    'source_transform', 'source_date', 'website', 'wheelchair', 'osm_id2'
]


# Cargar el archivo JSON
with open('./datalake/shops_data/2024-03-22_shops_data.json', 'r') as file:
    data = json.load(file)

# Abrir un archivo CSV para escribir los datos
with open('./datalake/shops_data/shops_data.csv', 'w', newline='') as csv_file:
    writer = csv.DictWriter(csvfile, fieldnames=campos_deseados)
    writer.writeheader()
    
    # Itera sobre cada feature en los datos JSON
    for feature in data.get('features', []):
        attributes = feature.get('attributes', {})
        
        # Filtra y escribe solo los campos deseados
        row = {field: attributes.get(field) for field in campos_deseados}
        writer.writerow(row)

print("La conversión a CSV ha sido completada.")

NameError: name 'csvfile' is not defined

In [72]:
import json
import csv

# Define las variables que te interesan
campos_deseados = [
    'addr_city', 'addr_conscriptionnumber', 'addr_country', 'addr_housenumber',
    'addr_postcode', 'addr_province', 'addr_state', 'addr_street', 'addr_suburb',
    'addr_unit', 'amenity', 'brand', 'building', 'description', 'level', 'name',
    'name_en', 'name_es', 'name_fr', 'opening_hours', 'operator', 'phone', 'shop',
    'source_transform', 'source_date', 'website', 'wheelchair', 'osm_id2'
]

# Abre y carga el archivo JSON
with open('./datalake/shops_data/2024-03-22_shops_data.json', 'r') as file:
    data = json.load(file)

# Crea y abre un archivo CSV para escribir los datos
with open('./datalake/shops_data/shops_data.csv', 'w', newline='') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=campos_deseados)
    writer.writeheader()
    
    # Itera sobre cada feature en los datos JSON
    for feature in data.get('features', []):
        attributes = feature.get('attributes', {})
        
        # Filtra y escribe solo los campos deseados
        row = {field: attributes.get(field) for field in campos_deseados}
        writer.writerow(row)

print("La conversión a CSV ha sido completada.")

UnicodeEncodeError: 'charmap' codec can't encode character '\u0101' in position 16: character maps to <undefined>

In [75]:
import json
import csv

# Cargar el archivo JSON
with open('./datalake/shops_data/2024-03-22_shops_data.json', 'r') as file:
    datos = json.load(file)

# Crear y escribir en un archivo CSV, especificando el encoding UTF-8
with open('datos_convertidos.csv', 'w', newline='', encoding='utf-8') as archivo_csv:  # Especifica el encoding aquí.
    campos = [campo['name'] for campo in datos['fields']] + ['x', 'y']
    escritor_csv = csv.DictWriter(archivo_csv, fieldnames=campos)
    
    escritor_csv.writeheader()
    
    for feature in datos['features']:
        fila = feature['attributes']
        fila.update({
            'x': feature['geometry']['x'],
            'y': feature['geometry']['y']
        })
        escritor_csv.writerow(fila)