Per entrar a una sessió de Spark i iniciar un builder en DeltaLake

In [1]:
#!pip install pyspark
#!pip install delta-spark

import pyspark
from delta import *

#!wget -O "HR_comma_sep.csv" "https://mydisk.cs.upc.edu/s/3o33yciBHADiFCD/download/HR_comma_sep.csv"

builder = pyspark.sql.SparkSession.builder.appName("Shops_Deltalake") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

:: loading settings :: url = jar:file:/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/aina/.ivy2/cache
The jars for the packages stored in: /Users/aina/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-0da620d0-2cbc-4586-8b2f-11c3b8be6bf8;1.0
	confs: [default]
	found io.delta#delta-spark_2.12;3.1.0 in central
	found io.delta#delta-storage;3.1.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 140ms :: artifacts dl 6ms
	:: modules in use:
	io.delta#delta-spark_2.12;3.1.0 from central in [default]
	io.delta#delta-storage;3.1.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-0da620d0-2cbc-4586-8b2f-11c3b8be6bf8
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/4ms)
24/04/19 11:30:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/19 11:30:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

## Comandes com si estessis a una sessió de Spark

Llegir els arxius i guardar-los en format DeltaLake, que ens garantitza que es compleixen les restriccions ACID, i dona avanatatges 




Carregar i llegir els 3 arxius de tenim

In [2]:
#Arxiu Parquet 
income = spark.read.parquet("./datalake/income_data/2024-04-17_IRSIncomeByZipCode_NoStateTotalsNoSmallZips.parquet")
income.show()

+-----+-------+-----------------+---------------------------+-----------+-----------------------------------+-------------------+----------------+-------------------------------------+---------------------+------------------+
|STATE|ZIPCODE|Number of returns|Adjusted gross income (AGI)|    Avg AGI|Number of returns with total income|Total income amount|Avg total income|Number of returns with taxable income|Taxable income amount|Avg taxable income|
+-----+-------+-----------------+---------------------------+-----------+-----------------------------------+-------------------+----------------+-------------------------------------+---------------------+------------------+
|   AL|  35004|             4930|                     255534|51.83245436|                               4930|             258024|     52.33752535|                                 4020|               163859|       40.76094527|
|   AL|  35005|             3300|                     128387|38.90515152|                               3300|             129390|     39.20909091|                                 2440|                70760|              29.0|
|   AL|  35006|             1230|                      58302|       47.4|                               1230|              58585|      47.6300813|                                  940|                36341|        38.6606383|
|   AL|  35007|            11990|                     643708|53.68707256|                              11990|             651350|     54.32443703|                                 9280|               414878|       44.70668103|
|   AL|  35010|             8320|                     378497|45.49242788|                               8320|             382106|     45.92620192|                                 5610|               226514|       40.37682709|
|   AL|  35014|             1610|                      67205|41.74223602|                               1610|              67885|     42.16459627|                                 1180|                38277|       32.43813559|
|   AL|  35016|             7030|                     329461|46.86500711|                               7030|             333226|     47.40056899|                                 5080|               204874|       40.32952756|
|   AL|  35019|              930|                      34909|37.53655914|                                930|              35392|     38.05591398|                                  650|                19152|       29.46461538|
|   AL|  35020|             9970|                     260241|26.10240722|                               9970|             262475|     26.32647944|                                 5520|               110968|       20.10289855|
|   AL|  35022|             9490|                     516329|54.40769231|                               9490|             521539|     54.95669125|                                 7400|               327603|       44.27067568|
|   AL|  35023|            10230|                     476432|46.57204301|                              10230|             480458|      46.9655914|                                 7960|               291768|       36.65427136|
|   AL|  35031|             2970|                     110967|37.36262626|                               2970|             112152|     37.76161616|                                 2000|                59275|           29.6375|
|   AL|  35033|             1340|                      66702|49.77761194|                               1340|              67437|      50.3261194|                                 1010|                41766|       41.35247525|
|   AL|  35034|             1440|                      51658|35.87361111|                               1440|              52030|     36.13194444|                                  950|                27832|       29.29684211|
|   AL|  35035|              550|                      30894|56.17090909|                                550|              31542|     57.34909091|                                  390|                20707|       53.09487179|
|   AL|  35040|             7130|                     355685|49.88569425|                               7130|             359868|     50.47237027|                                 5720|               221987|       38.80891608|
|   AL|  35042|             2220|                      95692| 43.1045045|                               2220|              96503|     43.46981982|                                 1590|                56177|       35.33144654|
|   AL|  35043|             4550|                     359323|78.97208791|                               4550|             363943|     79.98747253|                                 3790|               253356|       66.84854881|
|   AL|  35044|             3160|                     123233|38.99778481|                               3160|             124406|     39.36898734|                                 2160|                70753|       32.75601852|
|   AL|  35045|             5650|                     234349|41.47769912|                               5650|             236772|     41.90654867|                                 3870|               134635|       34.78940568|
+-----+-------+-----------------+---------------------------+-----------+-----------------------------------+-------------------+----------------+-------------------------------------+---------------------+------------------+
only showing top 20 rows

In [3]:
from pyspark.sql.functions import col

# Lista de todos los caracteres inválidos que quieres reemplazar o eliminar
invalid_chars = [' ', ';', '{', '}', '(', ')', '\n', '\t', '=']

# Función para limpiar los nombres de las columnas reemplazando los caracteres no válidos
def clean_column_name(column_name):
    for invalid_char in invalid_chars:
        column_name = column_name.replace(invalid_char, "_")  # Reemplaza por subrayado o cualquier otro caracter válido que prefieras
    return column_name

# Aplicar la función de limpieza a cada columna
cleaned_sales = income.select([col(c).alias(clean_column_name(c)) for c in income.columns])

# Ahora guarda el DataFrame limpio en formato Delta
income.write.mode("overwrite").format("delta").save("./deltalake/income_data/")

AnalysisException: [DELTA_INVALID_CHARACTERS_IN_COLUMN_NAMES] Found invalid character(s) among ' ,;{}()\n\t=' in the column names of your schema. Please use other characters and try again.