Per entrar a una sessió de Spark i iniciar un builder en DeltaLake

In [1]:
#!pip install pyspark
#!pip install delta-spark

import pyspark
from delta import *

#!wget -O "HR_comma_sep.csv" "https://mydisk.cs.upc.edu/s/3o33yciBHADiFCD/download/HR_comma_sep.csv"

builder = pyspark.sql.SparkSession.builder.appName("Shops_Deltalake") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

:: loading settings :: url = jar:file:/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/aina/.ivy2/cache
The jars for the packages stored in: /Users/aina/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-6bd7ed64-6ea1-45f1-a7ab-3e096ea99751;1.0
	confs: [default]
	found io.delta#delta-spark_2.12;3.1.0 in central
	found io.delta#delta-storage;3.1.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 146ms :: artifacts dl 6ms
	:: modules in use:
	io.delta#delta-spark_2.12;3.1.0 from central in [default]
	io.delta#delta-storage;3.1.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-6bd7ed64-6ea1-45f1-a7ab-3e096ea99751
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/6ms)
24/04/19 11:32:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/19 11:32:37 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/19 11:32:37 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

## Comandes com si estessis a una sessió de Spark

Llegir els arxius i guardar-los en format DeltaLake, que ens garantitza que es compleixen les restriccions ACID, i dona avanatatges 




Carregar i llegir els 3 arxius de tenim

In [2]:
#Arxiu Parquet 
shops = spark.read.parquet("./datalake/shops_data/2024-04-17_shops_data.parquet")
shops.show()

+-------------------+------------------+--------------------+-------------------------+---------------------------+----------------------+--------------------+---------------------+------------------------+------------------------+-----------------------+------------------------+---------------------------+--------------------+------------------+----------------+-------------------+--------------------+-------------------+---------------+--------------------+------------------+
|attributes.objectid|attributes.osm_id2|attributes.abandoned|attributes.addr_housename|attributes.addr_housenumber|attributes.addr_street|attributes.addr_city|attributes.addr_state|attributes.addr_postcode|attributes.addr_province|attributes.addr_country|attributes.addr_district|attributes.addr_subdistrict|attributes.addr_unit|attributes.amenity|attributes.brand|attributes.building|     attributes.name|attributes.operator|attributes.shop|          geometry.x|        geometry.y|
+-------------------+------------------+--------------------+-------------------------+---------------------------+----------------------+--------------------+---------------------+------------------------+------------------------+-----------------------+------------------------+---------------------------+--------------------+------------------+----------------+-------------------+--------------------+-------------------+---------------+--------------------+------------------+
|                 85|        6448753092|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|Jo Jo’s Clubhouse...|               NULL|  confectionery| -1.77743974774402E7|2506253.3864803435|
|                 95|        6241439285|                NULL|                     NULL|                       9652|     Kaumualii Highway|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|  The Shrimp Station|               NULL|        seafood|    -1.77741766752E7| 2506160.271499999|
|                 98|        4643342514|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|Big Save Super Ma...|               NULL|    supermarket|    -1.77741212047E7| 2506174.398400001|
|                105|        5857253155|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|                NULL|               NULL|        laundry|    -1.77748829195E7| 2506481.507199999|
|                107|        5541678538|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|            Red Dirt|               NULL|        clothes|-1.77744238156317...|2506268.5216149013|
|                367|        5616118025|                NULL|                     NULL|                       NULL|     Ala Kalanikaumaka|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|     Maile Tropicals|               NULL|      cosmetics|-1.77520631363077...|2497546.0188859263|
|                384|        3688705947|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|Whalers General S...|               NULL|    convenience|-1.77508611752378...|2496994.0270445766|
|                399|        6326437795|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|                NULL|               NULL|        clothes|    -1.77508989237E7|      2497066.9628|
|                400|        6326437794|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|                NULL|               NULL|        clothes|    -1.77509022076E7| 2497085.772599999|
|                408|        6326437793|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|                NULL|               NULL|            art|    -1.77508822035E7|2497080.6983000003|
|                500|        3227039056|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|Captain Andy's Sa...|               NULL|        outdoor|    -1.77651583493E7| 2499680.833299998|
|                501|        4430499572|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|Kauai Chocolate C...|               NULL|      chocolate|    -1.77651339592E7| 2499720.282299999|
|                504|        5541678621|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|                NULL|               NULL|         tattoo|    -1.77651315881E7| 2499767.925999999|
|                508|        5541678480|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|            Big Save|               NULL|    supermarket|     -1.7764975162E7|2500063.0535000004|
|                511|        5541678476|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|    Eleele Landromat|               NULL|        laundry|    -1.77649891103E7|2500140.7415999994|
|                528|        3227039266|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|Talk Story Bookstore|               NULL|          books|-1.776527338688436E7|2500876.4380595586|
|                545|        4893331220|                NULL|                     NULL|                       NULL|                  NULL|            Hanapepe|                   HI|                   96716|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|             Blü Umi|               NULL|       boutique|-1.77650994056522...|2500889.6126388544|
|                630|        5541678622|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|     The Right Slice|               NULL|         bakery|    -1.77584438916E7|2502595.6744999997|
|                754|        2900135101|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL| Living Foods Market|               NULL|    supermarket|-1.775208322947586E7|2497669.9657790065|
|                777|        4763053325|                NULL|                     NULL|                       NULL|                  NULL|                NULL|                 NULL|                    NULL|                    NULL|                   NULL|                    NULL|                       NULL|                NULL|              NULL|            NULL|               NULL|         Boss Frog's|               NULL|        outdoor|    -1.77517186247E7|2499825.2041999996|
+-------------------+------------------+--------------------+-------------------------+---------------------------+----------------------+--------------------+---------------------+------------------------+------------------------+-----------------------+------------------------+---------------------------+--------------------+------------------+----------------+-------------------+--------------------+-------------------+---------------+--------------------+------------------+
only showing top 20 rows

In [3]:
#Exemple, nose si funciona en el nostre cas
DF = spark.sql("""SELECT salary, avg(cast(last_evaluation as float)) FROM HR GROUP BY salary""")
DF.show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `HR` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 56;
'Aggregate ['salary], ['salary, unresolvedalias('avg(cast('last_evaluation as float)), None)]
+- 'UnresolvedRelation [HR], [], false

In [5]:
#Guardar l'arxiu
shops.write.mode("overwrite").format("delta").save("./deltalake/shops_data/")

24/04/19 11:35:48 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [ ]:
from uszipcode import SearchEngine

# Crea un objeto SearchEngine
search = SearchEngine(simple_zipcode=True)

# Función para obtener el código postal
def get_zipcode(lat, lon):
    result = search.by_coordinates(lat=lat, lng=lon, returns=1)
    return result[0].zipcode

# Aplica la función a tus datos
df["ZipCode"] = df.apply(lambda row: get_zipcode(row["LATITUDE_X"], row["LONGITUDE_X"]), axis=1)